body {
    background-color: #cccccc;
}

.header{
    background-color: white;
    /*padding-top: 2em;*/
    /*padding-left: 2em;*/
}

.first{
    background-image: url("/images/DD.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.title{
    margin-top: 7em;
}