body {
    background-color: #cccccc;
}

.title{
    margin-top: 7em;
}

.header{
    background-color: white;
    /*padding-top: 2em;*/
    /*padding-left: 2em;*/
}

.first{
    background-image: url("/images/DD.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
#rank-title {
    margin-top: 7em;
    font-size: 30px;
    font-weight: bolder;
}

.rank-tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    font-family: Avenir, "serif";
    /*  pointer-events: none;	This line needs to be removed */
}
.rank-tooltip h3,h4 {
    text-align: left;
}
.rank-tooltip h4 {
    font: 14px sans-serif;
    font-family: Avenir, "serif";
}

.rank-tooltip h3 {
    font: 16px sans-serif;
    font-family: Avenir, "serif";
    font-weight: bold;
}

.rank-x-axis, .rank-y-axis {
    font-size: .35em;
}

.rank-axis text {
    font: 10px sans-serif;
    fill: #000000;
    stroke: #000000;
}

.rank-axis path,
.rank-axis line {
    fill: none;
    stroke: #000000;
}

h1{
    padding-top: 20px;
    text-align: center;
}

h3{
    padding-top: 5px;
    text-align: center;
}

.label{
    padding-top: 20px;
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    pointer-events: none;	/* This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

.line {
    fill: none;
    stroke: #FF671F;
}

#mapToolTip, #salesToolTip {
    pointer-events: none; /* Let mouse events pass through */
    position: absolute;
    opacity: 0.8;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}

.subtitle{
    font-style: italic;
    text-align: center;
    padding: 30px;
}

#mapVisualizations {
    width: 100%;
    height: 100%;
}

#stateMapDiv {
    width: 100%;
    height: 100%;
}

#summaryFindings {
    height: 100%; /* Adjust this value as needed */
}

.fp-tooltip {
    color: black !important; /* Change the text color */
}